Django==5.2.2
requests==2.31.0
base58==2.1.1
gunicorn==21.2.0
whitenoise==6.6.0
psycopg2-binary==2.9.9
dj-database-url==2.1.0
python-decouple==3.8
django-extensions==4.1
eth-account>=0.13.6
dune-client>=1.7.9 